$blue: #389AF5;

$body-color: #414141;

$font-family-san-serif: rubik, system-ui, -apple-system,"segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "segoe UI Emoji" , "segoe UI Symbol" , "Noto color Emoji";

$headings-font-weight: 700; 